@media only screen and (min-width: 768px) {
  html,
  button,
  input,
  select,
  textarea {
    font-family: "Open Sans", "Helvetica", sans-serif;
  }
}

body {
  font-weight: 300;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

a,
a:hover {
  color: #1fa9d5ff;
}

p {
  margin: 0 0 1em;
}
.news_time {
  font-weight: bold;
}

.one_news {
  margin-bottom: 10px;
}
.paper-description {
  margin-top: 3px;
  font-style: italic;
  color: #888;
  font-size: 12pt;
}

/* bootstrap properties */
#topbar {
  background-color: #872747;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-color: 0;
}

#topbar .navbar-brand {
  color: #872747;
  font-size: 2.3em;
  /*font-family: 'Open Sans',Helvetica,sans-serif;*/
  font-weight: 400;
  /*text-transform: uppercase;*/
}
#topbar .navbar-brand p {
  display: inline;
  font-family: "Kai Ti";
}

#topbar .navbar-brand a {
  color: #f5f5f5;
  margin-right: 30px;
}

#topbar .navbar-brand a:hover {
  color: #872747;
  text-decoration: none;
}

.navbar-brand,
.navbar-nav li a nav {
  line-height: 1.5em;
  height: 1.5em;
  padding-top: 0;
  /* Hide the hamburger icon on screens wider than 700px */
}

.label {
  font-weight: normal;
}

.label-award {
  background-color: #bb0000;
  margin-right: 10px;
}

.paperimage {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06),
    0 3px 8px rgba(0, 0, 0, 0.09); */
}

.papers .paper-row {
  margin-bottom: 2em;
  vertical-align: top;
  padding-left: 0px;
}

.vital-info {
  margin-top: 1em;
  margin-top: 0;
  text-align: center;
  font-size: 14px;
}
.phd_student {
  height: 200px;
}
.vital-info h4 {
  margin-bottom: 5px;
}

.olddate,
.olddate a {
  color: #aaaaaa;
}

.bio {
  margin-top: 10px;
}

.btn-link {
  padding: 2em 0px 2em 0px;
  color: #bb0000;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
